
body{
  font-size: 10px;
}
.navbar .a{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #636060;
  padding: 1% 0;
  font-size: 0.8em;
  border: 0;
  font-weight: bold;
  }
  
  .navbar-dark .nav-item > .nav-link.active  {
    color:#4a4dcf;
}

  .dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #f8f9fa;
    border:0;
    top:80%;
    border-radius:0px 0px 5px 5px;
}
.dropdown-item:hover{
    background:#085ca5;
    color:#ffffff;
}
.dropdown-menu a{
    color:#085ca5;
    background:#f8f9fa;
} 
.show-on-hover:hover > .dropdown-menu {
  display: block;    
}
  

.bgimage {
  width:100%;
  height:500px;
  background: url('https://res.cloudinary.com/dzo1seiao/image/upload/v1551344872/adshome.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }
  section .bgimage .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}

  .bgimage2{
    width:100%;
    height:500px;
    background: url('https://res.cloudinary.com/chidi/image/upload/v1551801118/computer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    }
    .bgimage2 h5 {
      color:white;
      text-shadow:2px 2px #333;
    }
    section .bgimage2 .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}

/*=================Get started & login button css start==============*/

.btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    transform: translateY(-2px);
  }

/*=================body layout css start==============*/
/*publisher body css*/

.content1-left{
  padding:9%;
}
.content1-right{
  padding:9%;
  background:#e4e4e4;
}
.home-content2{
  background: #adb5bd;
  padding: 1.4%;
  text-align: center;	
}
.home-content2 p{
  font-size: 18px;
  line-height: 50px;
}
.home-content2 p span{
  font-weight: 500;
}
/*publisher body css ends*/
span.bg-main {
  color: #ffa500;
}
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}

/*=================footer css start==============*/
.webintern-footer {
background: #0d2034;
}

.webintern-footer-inner {
padding-top: 80px;
padding-bottom: 50px;
}

.webintern-footer-logo {
display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
color: #fff;
margin-top: 20px;
margin-bottom: 15px;
}
.simple-text p {
font-size: 15px;
color: #42435d;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
line-height: 26px;
margin-bottom: 0;
}

.webintern-footer .webintern-footer-inner .simple-text a {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
color: #f2c21a;
font-size: 15px;
}
.footer-2 {
padding-left: 55px;
}
.webintern_footer_title {
margin-top: 0px;
margin-bottom: 25px;
}
.webintern_footer_title small {
font-family: 'Work Sans', sans-serif;
color: #fff;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
}
.webintern_footer_title:after {
content: '';
display: block;
width: 30px;
height: 2px;
background: #f2c21a;
margin-top: 15px;
}
.webintern-footer-list {
padding: 0;
}

.webintern-footer-listabout li {
  margin-bottom: 17px;
  list-style: square;
  }
.webintern-footer-list a {
position: relative;
font-size: 15px;
line-height: 18px;
color: #fff;
padding-left: 0;
letter-spacing: 0.20px;
font-family: 'Open Sans', sans-serif;
}
.footer-3 {
padding-left: 65px;
}
.webintern-footer-inner .simple-text.last {
color: #d5d5d5;
font-size: 17px;
font-style: italic;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
}
.tt-subscribe {
position: relative;
}
.tt-subscribe input:not([type="submit"]) {
width: 100%;
height: 46px;
background: #fff;
font-size: 15px;
color: #838486;
padding-left: 20px;
padding-right: 70px;
border: 2px solid #fff;
-moz-border-radius: 3px;
border-radius: 3px;

}
.tt-subscribe-submit {
background: #001b57;
}

.tt-subscribe-submit {
position: absolute;
top: 0;
right: 0;
width: 52px;
height: 46px;
font-size: 18px;
line-height: 46px;
color: #2a2a2a;
text-align: center;
background: #001b57;
-moz-border-radius-topright: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
border-bottom-right-radius: 3px;
}


.tt-subscribe-submit i.fa-envelope:before {
content: "\f0e0";
position: relative;
z-index: 1;
color: #fff;
}
.tt-subscribe-submit input {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #51658d;
border: 0;
}
ul.tt-socail {
padding: 0;
margin-top: 30px;
}
.tt-socail li {
display: inline-block;
margin-right: 10px;
}
.tt-socail a {
display: block;
width: 36px;
height: 36px;
font-size: 17px;
line-height: 34px;
color: #fff;
text-align: center;
border: 1px solid #fff;
-moz-border-radius: 100%;
border-radius: 100%;
}
.webintern_footer_title small {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.tt-copy
{
font-size: 15px;
line-height: 20px;
color: #fff;
background: #51658d;
padding: 30px 0;
font-family: 'Open Sans', sans-serif;
}
.tt-copy-right {
text-align: right;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #ffa500;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #3931af;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

@media (max-width: 600px) {
  .carousel-caption{
    display:none;
  }

  .how-section1 .row{
    text-align: center;
  }

  .animation {
    color:white;
    text-shadow:2px 2px #333;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500px;
  }
  .end{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .navbar-nav{
    text-align: center;
  }
 
  h1 {
    font-size: 1.2em;
  }
}